<!-- modal -->
<div id="fsModal" class="modal animated bounceIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">

    <!-- dialog -->
    <div class="modal-dialog">

        <!-- content -->
        <div class="modal-content">

            <!-- header -->
            <div class="modal-header">
                <span data-dismiss="modal"
                    style="position: absolute; right:20px;top:15px;color:white;cursor:pointer;font-size: 20px;"
                    aria-hidden="true">&times;</span>

            </div>
            <!-- header -->

            <!-- body -->
             <div class="modal-body main-container" style="background-color: red;">
             
                    <div class="container">
                        <div  class="item1" style="background-color: yellow;">
                            dsf
                        </div>
                        <div  class="item2" style="background-color: palevioletred;">
                           
                           
                       
                        </div>
                        <div  class="item3"  style="background-color: yellow;">
                            sdf
                        </div>

                    </div>
                 
                
                
            </div> 
            
         
            <!-- body -->

            <!-- footer -->
            <!-- <div class="modal-footer">
        <button class="btn btn-secondary"
                data-dismiss="modal">
          close
        </button>
        <button class="btn btn-default">
          Default
        </button>
        <button class="btn btn-primary">
          Primary
        </button>
      </div> -->
            <!-- footer -->

        </div>
        <!-- content -->

    </div>
    <!-- dialog -->

</div>
<!-- modal -->