<app-header></app-header>
<div class="container">
<div class="tz-gallery">

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="#">
                <img src="../assets/images/a.jpeg" alt="Bridge">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../assets/images/a.jpeg">
                <iframe src="https://www.youtube.com/embed/9nVxEvNs-HA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../assets/images/a.jpeg">
                <img src="../assets/images/a.jpeg" alt="Bridge">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../assets/images/a.jpeg">
                <img src="../assets/images/a.jpeg" alt="Bridge">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../assets/images/a.jpeg">
                <img src="../assets/images/a.jpeg" alt="Bridge">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../assets/images/a.jpeg">
                <img src="../assets/images/a.jpeg" alt="Bridge">
            </a>
        </div>
      
        
     
    </div>

</div>
</div>